{%extends 'base-home.html'%}
{%block 'title'%}financeiro{%endblock%}
{% load static %}
{%block 'head'%}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{%endblock%}
{%block 'body'%}
<div class="container-fluid" id="container">
    {% if entrada.situacao == True %}
        {% if entrada %}
            <h2 class="page-title">Editar Entrada</h2>
        {% else %}
            <h2 class="page-title">Cadastrar Entrada</h2>
        {% endif %}
    {% else %}
        {% if entrada %}
            <h2 class="page-title">Editar Contas a Receber</h2>
        {% else %}
            <h2 class="page-title">Cadastrar Contas a Receber</h2>
        {% endif %}
    {% endif %}

        <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if entrada %}
    <form action="{% url 'financeiro:editar_entrada' entrada.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="cliente">Cliente:</label>
            <select class="form-control" id="cliente" name="cliente" required>
                {% if clientes %}
                {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.nome_completo }}</option>
                {% endfor %}
                {% else %}
                    <option value="">Nenhum cliente cadastrado</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control" id="descricao" name="descricao" value="{{ entrada.descricao }}" required>
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="number" class="form-control" id="valor" name="valor" value="{{ entrada.valor }}" required>
        </div>
        <div class="form-group">
            <label for="data_vencimento">Data de Vencimento:</label>
            <input type="date" class="form-control" id="data_vencimento" name="data_vencimento" value="{{ entrada.edit_data_vencimento }}" required>
        </div>
        <div class="form-group">
            <label for="data_recebimento">Data de Recebimento:</label>
            <input type="date" class="form-control" id="data_recebimento" name="data_recebimento" value="{{ entrada.edit_data_recebimento }}">
        </div>
        <div class="form-group">
            <label for="forma_recebimento">Forma de Recebimento:</label>
            <select class="form-control" id="forma_recebimento" name="forma_recebimento" value="{{ entrada.forma_recebimento }}" required>
                <option value="D">Dinheiro</option>
                <option value="B">Boleto</option>
                <option value="E">Cartão</option>
                <option value="T">Banco</option>
                <option value="C">Cheque</option>
                <option value="P">Pix</option>
            </select>
        </div>
        <div class="form-group">
            <label for="recebido">Recebido:</label>
            <select class="form-control" id="recebido" name="recebido" value="{{ entrada.recebido }}" required>
                <option value="N">Não</option>
                <option value="S">Sim</option>
                
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Editar</button>
    </form>

        

    {% else %}
    <form action="{% url 'financeiro:cadastrar_entrada' %}" method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="cliente">Cliente:</label>
            <select class="form-control" id="cliente" name="cliente" required>
                <option value="">Selecione um cliente</option>
                {% if clientes %}
                {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.nome_completo }}</option>
                {% endfor %}
                {% else %}
                    <option value="">Nenhum cliente cadastrado</option>
                {% endif %}
            </select>
        </div>
       
        <div class="form-group">
            <label for="valor">Valor:</label>
            <input type="number" step="01" class="form-control" id="valor" name="valor" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control" id="descricao" name="descricao" required>
        <div class="form-group">
            <label for="data_vencimento">Data de Vencimento:</label>
            <input type="date" class="form-control" id="data_vencimento" name="data_vencimento" required>
        </div>
        <div class="form-group">
            <label for="data_recebimento">Data de Recebimento:</label>
            <input type="date" class="form-control" id="data_recebimento" name="data_recebimento">
        <div class="form-group">
            <label for="forma_recebimento">Forma de Recebimento:</label>
            <select class="form-control" id="forma_recebimento" name="forma_recebimento" required>
                <option value="D">Dinheiro</option>
                <option value="B">Boleto</option>
                <option value="E">Cartão</option>
                <option value="T">Banco</option>
                <option value="C">Cheque</option>
                <option value="P">Pix</option>
            </select>
        </div>
        <div class="form-group">
            <label for="recebido">Recebido:</label>
            <select class="form-control" id="recebido" name="recebido" required>
                <option value="N">Não</option>
                <option value="S">Sim</option>
                
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

    {% endif %}
    
</div>
{% endblock %}
<!-- Compare this snippet from imperio/financeiro/templates/cadastrar_entrada.html: -->