{% extends 'base-home.html' %}
{% block 'title' %}Cadastrar Contas a Pagar{% endblock %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'financeiro/css/cadastrar_contas_pagar.css' %}">
{% endblock %}
{% block 'body' %}
<div class="container-fluid" id="container">
    <h3>Cadastrar Contas a Pagar</h3>
    <hr>
    <form action="{% url 'financeiro:cadastrar_contas_pagar' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao" required>
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="number" class="form-control" id="valor" name="valor" required>
        </div>
        <div class="form-group">
            <label for="data_vencimento">Data de Vencimento</label>
            <input type="date" class="form-control" id="data_vencimento" name="data_vencimento" required>
        </div>
        <div class="form-group">
            <label for="data_pagamento">Data de Pagamento</label>
            <input type="date" class="form-control" id="data_pagamento" name="data_pagamento">
        <div class="form-group">
            <label for="forma_pagamento">Forma de Pagamento</label>
            <select class="form-control" id="forma_pagamento" name="forma_pagamento" required>
                <option value="D">Dinheiro</option>
                <option value="C">Cartão de Crédito</option>
                <option value="B">Cartão de Débito</option>
                <option value="T">Transferência Bancária</option>
                <option value="C">Cheque</option>
                <option value="P">Pix</option>
            </select>
        </div>
        <div class="form-group">
            <label for="status">Pago ?</label>
            <select class="form-control" id="status" name="status" required>
                <option value="S">Sim</option>
                <option value="N">Não</option>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% endblock %}
```
