{% extends 'base-home.html' %}
{% block 'title' %}Fechamento de caixa{% endblock %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
<style>
  .card {
    border-top: 10px solid #292727;
    border-radius: 5px;
    background-color: #ffffffde;
    
}
</style>
{% endblock %}

{% block 'body' %}


<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
        <div class="col-12">
            <div class="card ">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <h4 class="card-title">Fechamento de caixa</h4>
                            
                        </div>
                        <div class="text-end">
                            
                            <form class="form-inline d-flex justify-content-end">
                                <div class="form-group mr-2">
                                    <label for="start_date" class="mr-2">Data Inicial:</label>
                                    <input type="date" class="form-control" name="start_date" id="start_date">
                                </div>
                                <div class="form-group mr-2">
                                    <label for="end_date" class="mr-2">Data Final:</label>
                                    <input type="date" class="form-control" name="end_date" id="end_date">
                                </div>
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                            </form>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xl col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="bi bi-currency-dollar primary font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                <span>Entradas Totais</span>
                    {% if total_entradas %}
                      <h3 id="total_entradas">R$ {{ total_entradas|floatformat:"2g" }}</h3>
                    {% else %}
                      <h3 id="total_entradas">R$ 0,00</h3>
                    {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="bi bi-cash-stack danger font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                <span>Despesas Totais</span>
                    {% if total_despesas %}
                      <h3 id="total_despesas">R$ {{ total_despesas|floatformat:"2g" }}</h3>
                    {% else %}
                      <h3 id="total_despesas">R$ 0,00</h3>
                    {% endif %}

                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="bi bi-cassette warning font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                <span>Cheque Totais</span>
                    {% if total_cheque %}
                      <h3 id="total_cheque">R$ {{ total_cheque|floatformat:"2g" }}</h3>
                    {% else %}
                      <h3 id="total_cheque">R$ 0,00</h3>
                    {% endif %}

                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      



    </div>

  </section>

</div>

<!-- adicione um card  com o saldo -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body media-body text-center">
            <div class="row">
              <div class="col-12 ">
                <h5 class="card-title">Saldo</h5>
                </div>
                <div class="col-12">
                  {% if saldo %}
                    {% if saldo > 0 %}
                      <h3 class="card-text text-success">R$ {{ saldo|floatformat:"2g" }}</h3>
                    {% else %}
                      <h3 class="card-text text-danger">R$ {{ saldo|floatformat:"2g" }}</h3>
                    {% endif %}
                  {% else %}
                    <h3 class="card-text text-danger">R$ 0,00</h3>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- adicione um card com o saldo mensal -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body media-body text-center">
            <div class="row">
              <div class="col-12 ">
                <h5 class="card-title
                ">Saldo Mensal</h5>
                </div>
                <div class="col-12">
                  <div>
                    <canvas id="myChart2" style="max-height: 375px;"></canvas>

                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block 'scripts' %}
<script>
  $.ajax({
      url: "{% url 'financeiro:saldo_anual' %}",
      method: 'GET',
      success: function(response) {
          // transformar objeto em map 
          var labels = response['meses'];
          var valores = response['saldo'];
          var meses_label = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
          
          for (let i = 0; i < labels.length; i++) {
            labels[i] = meses_label[labels[i] - 1];
          }


          var ctx = document.getElementById('myChart2').getContext('2d');
          var myChart2 = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: labels,
                  datasets: [{
                      label: 'Saldo Mensal',
                      data: valores,
                      backgroundColor: [
                          'rgba(3, 35, 111, 0.8)'
                      ],
                      borderColor: [
                          'rgba(3, 35, 111, 1)'
                      ],
                      borderWidth: 2
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  },
                  plugins: {
                      legend: {
                          display: false
                      }
                  }
              }
          });
          // myChart.data.labels = response['labels'];
          // myChart.data.datasets[0].data = response['total_entradas'];

          // myChart.data.datasets[0].data = response['total_despesas'][];
      },
      error: function(error) {
          // Handle the error here
      }
  });
</script>
{% endblock %}