{% extends 'base-home.html' %}
{% block title %}Entradas{% endblock %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/table_view.css' %}">
{% endblock %}
{% block 'body' %}
<div class="container-fluid" id="container">
    <h1>Entradas</h1>
    <hr>
    <div class="button-container">
        <div>
            <a href="{% url 'financeiro:cadastrar_entrada' %}" class="btn btn-primary my-2 my-2-sm-0 btn-sm" style="margin-top: 10px;">Adicionar nova Entrada</a>
            <a href="{% url 'financeiro:exportar_entradas_xlsx' %}" class="btn btn-secondary  my-2 my-2-sm-0  btn-sm">
                <i class="bi bi-file-excel"></i>
                Excel
            </a>
            <a href="" class="btn btn-secondary my-2 my-2-sm-0  btn-sm">
                <i class="bi bi-file-pdf"></i>
                PDF
                </a>
                
        </div>
       <div class="alinhar-direita">
         <form class="form-inline my-2 my-lg-0-pull-right">
            <label for="start_date">Data inicial:</label>
            <input type="date" id="start_date" name="start_date" class="form-control-sm">
            <label for="end_date">Data final:</label>
            <input type="date" id="end_date" name="end_date" class="form-control-sm">
            <button type="submit" class="btn btn-primary my-2 my-2-sm-0 btn-sm">Filtrar</button>
         </form>
       </div>
        
    </div>

    {% if entrada_obj %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table  table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Data de Vencimento</th>
                            <th scope="col">Data de Recebimento</th>
                            <th scope="col">Forma de Recebimento</th>
                            <th scope="col">Recebido</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entrada in entrada_obj %}
                        <tr>
                            <td>{{entrada.cliente}}</td>
                            <td>{{ entrada.descricao }}</td>
                            <td>R${{entrada.valor|floatformat:"2g"}}</td>
                            <td>{{ entrada.get_data_vencimento}}</td>
                            <td>{{ entrada.get_data_recebimento }}</td>
                            {% if entrada.forma_recebimento == 'D' %}
                            <td>Dinheiro</td>
                            {% elif entrada.forma_recebimento == 'E' %}
                            <td>Cartão de Crédito</td>
                            {% elif entrada.forma_recebimento == 'T' %}
                            <td>Transferência Bancária</td>
                            {% elif entrada.forma_recebimento == 'C' %}
                            <td>Cheque</td>
                            {% elif entrada.forma_recebimento == 'P' %}
                            <td>Pix</td>
                            {% endif %}
                            {% if entrada.recebido == True %}
                            <td>Recebido</td>
                            {% else %}
                            <td>Pendente</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'financeiro:editar_entrada' entrada.id %}" class="btn btn-primary btn-sm">Editar</a>
                                <a href="{% url 'financeiro:excluir_entrada' entrada.id %}" class="btn btn-danger btn-sm">Excluir</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'pagination.html' %}
        <form>
            <input type="text" name="pesquisar" class="form-control" placeholder="Pesquise aqui e aperte enter">
        </form>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        Não há entradas cadastradas.
     </div>
     <form>
        <input type="text" name="pesquisar" class="form-control" placeholder="Pesquise aqui e aperte enter">
    </form>
    {% endif %}
</div>
    
{% endblock %}
```

```html