{% extends 'base-home.html' %}
{% block 'title' %}financeiro{% endblock %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'financeiro/css/financeiro.css' %}">
{% endblock %}
{% block 'body' %}
<h3>financeiro</h3>
<div class="box-body">
    <a class="btn btn-app" href="{% url 'financeiro:despesas' %}"
     id="button">
        <i class="bi bi-person-fill" id="icone"></i>contas a pagar
    </a>  
    <a class="btn btn-app" href="{% url 'financeiro:contas_receber' %}" id="button">
        <i class="bi bi-currency-dollar" id="icone"></i>contas a receber
    </a>  
    <a class="btn btn-app" href="" id="button">
        <i class="bi bi-person-fill" id="icone"></i>cheques
    </a>  
</div>
{% endblock %}
