{% extends 'base-home.html' %}
{% load static %}
{% block title %}Cadastrar Cheque{% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}
{% block 'body' %}
<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-md-12">
            {% if cheque %}
            <h2 class="page-title">Editar Cheque</h2>
            <p>Atualize o cheque</p>
            {% else %}
            <h2 class="page-title
            ">Cadastrar Cheque</h2>
            <p>Adicione um novo cheque</p>

            {% endif %}
            {% if messages %}
            {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                     {{ message }}
                     <a href="#" class="del-msg">&times;</a>
                  </div>
            {% endfor %}
         {% endif %}
            
            <hr>
            {% if cheque %}
            <form action="{% url 'financeiro:editar_cheque' cheque.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="cliente">Cliente</label>
                    <select class="form-control" id="cliente" name="cliente" required>
                        
                        {% if clientes %}
                        {% for cliente in clientes %}
                        <!-- search -->
                            <option value="{{ cliente.id }}">{{ cliente.nome_completo }}</option>
                        {% endfor %}
                        {% else %}
                            <option value="">Nenhum cliente cadastrado</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group
                ">
                    <label for="nome_repassador">Nome do Repassador</label>
                    <input type="text" class="form-control" id="nome_repassador" name="nome_repassador" value="{{ cheque.nome_repassador }}" required>
                </div>
                <div class="form-group
                ">
                    <label for="numero">Numero do Cheque</label>
                    <input type="text" class="form-control" id="numero" name="numero" value="{{ cheque.numero }}" required>
                </div>
                <div class="form-group
                ">
                    <label for="valor">Valor</label>
                    <input type="number" step="any" class="form-control" id="valor" name="valor" value="{{ cheque.valor }}" required>
                </div>
                <div class="form-group
                ">
                    <label for="data_emissao">Data de Compensação</label>
                    <input type="date" class="form-control" id="data_compensacao" name="data_compensacao" value="{{ cheque.edit_data_compensacao }}" required>
                </div>
                <div class="form-group
                ">
                    <label for="banco">Banco</label>
                    <select class="form-control" id="banco" name="banco" value="{{ cheque.banco }}" required>
                        <option value="001">Banco do Brasil</option>
                        <option value="104">Caixa Econômica Federal</option>
                        <option value="237">Bradesco</option>
                        <option value="341">Itaú</option>
                        <option value="356">Santander</option>
                        <option value="033">Banco Santander (Brasil)</option>
                        <option value="745">Citibank</option>
                        <option value="399">HSBC</option>
                        <option value="422">Safra</option>
                        <option value="389">Mercantil do Brasil</option>
                        <option value="633">Rendimento</option>
                        <option value="652">Itaú Unibanco Holding</option>
                        <option value="745">Banco Citibank</option>
                        <option value="748">Sicredi</option>
                        <option value="756">Sicoob</option>
                    </select>
                </div>
                <div class="form-group
                ">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status" value="{{ cheque.situacao }}" required>
                        <option value="C">Compensado</option>
                        <option value="R">Repassado</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
                        
            {% else %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="cliente">Cliente</label>
                    <select class="form-control" id="cliente" name="cliente" required>
                        <option value="">Selecione um cliente</option>
                        {% if clientes %}
                        {% for cliente in clientes %}
                            <option value="{{ cliente.id }}">{{ cliente.nome_completo }}</option>
                        {% endfor %}
                        {% else %}
                            <option value="">Nenhum cliente cadastrado</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="nome_repassador">Nome do Repassador</label>
                    <input type="text" class="form-control" id="nome_repassador" name="nome_repassador" placeholder="Insira o nome do repassador do Cheque">            
                </div>
                <div class="form-group
                ">
                    <label for="numero">Numero do Cheque</label>
                    <input type="text" class="form-control" id="numero" name="numero" placeholder="Insira o Numero do cheque">
                </div>

                <div class="form-group
                ">
                    <label for="valor">Valor</label>
                    <input type="number" step="any" class="form-control" id="valor" name="valor" placeholder="Insira o Valor do Cheque">
                </div>
                <div class="form-group
                ">
                    <label for="data_emissao">Data de Compensação</label>
                    <input type="date" class="form-control" id="data_compensacao" name="data_compensacao" required>
                </div>
                <div class="form-group">
                    <label for="banco">Banco</label>
                    <select class="form-control" id="banco" name="banco">
                        <option value="001">Banco do Brasil</option>
                        <option value="104">Caixa Econômica Federal</option>
                        <option value="237">Bradesco</option>
                        <option value="341">Itaú</option>
                        <option value="356">Santander</option>
                        <option value="033">Banco Santander (Brasil)</option>
                        <option value="745">Citibank</option>
                        <option value="399">HSBC</option>
                        <option value="422">Safra</option>
                        <option value="389">Mercantil do Brasil</option>
                        <option value="633">Rendimento</option>
                        <option value="652">Itaú Unibanco Holding</option>
                        <option value="745">Banco Citibank</option>
                        <option value="748">Sicredi</option>
                        <option value="756">Sicoob</option>
                    </select>
                </div>
                <div class="form-group
                ">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status"  required>
                        <option value="C">Compensado</option>
                        <option value="R">Repassado</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
```
