{% extends 'base-home.html' %}
{% load static %}
{% block title %}Cheques{% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/table_view.css' %}">
{% endblock %}
{% block 'body' %}
<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title
            ">Cheques</h2>
            <p>Aqui você gerencia os cheques cadastrados na sua empresa</p>
            <hr>
            <div class="button-container">
                <div>
                    <div>
                        <a href="{% url 'financeiro:cadastrar_cheque' %}" class="btn btn-outline-primary w-100 waves-effect " style="margin-top: 10px;">Adicionar novo Cheque</a>
                    </div>
                    <br>
                    <a href="{% url 'financeiro:exportar_cheques_xlsx' %}" class="btn-sm btn-secondary  my-2 my-2-sm-0 ">
                        <i class="bi bi-file-excel"></i>
                        Exportar Excel
                    </a>
                    <a href="" class="btn-sm btn-secondary my-2 mx-1 my-2-sm-0   ">
                        <i class="bi bi-file-pdf"></i>
                        PDF
                        </a>
                        
                </div>
                
               <div class="alinhar-direita">
                 <form class="form-inline my-2 my-lg-0-pull-right">
                    <label for="start_date">Data inicial:</label>
                    <input type="date" id="start_date" name="start_date" class="form-control-sm">
                    <label for="end_date">Data final:</label>
                    <input type="date" id="end_date" name="end_date" class="form-control-sm">
                    <button type="submit" class="btn btn-primary my-2 my-2-sm-0 btn-sm">Filtrar</button>
                 </form>
               </div>
                
            </div>
            <br>
            <form>
                <input type="text" name="pesquisar" class="form-control" placeholder="Pesquise aqui e aperte enter">
            </form>

            {% if cheques_obj %}
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table  table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nome do Titular</th>
                                    <th>Nome Repassador</th>
                                    <th>Numero</th>
                                    <th>Valor</th>
                                    <th>Data de Compensação</th>
                                    <th>Situação</th>
                                    <th>Banco</th>                              
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cheque in cheques_obj %}
                                    <tr>
                                        <td>{{ cheque.nome_titular }}</td>
                                        <td>{{cheque.nome_repassador}}</td>
                                        <td>{{ cheque.numero }}</td>
                                        <td>R${{cheque.valor|floatformat:"2g"}}</td>
                                        <td>{{ cheque.get_data_compensacao }}</td>
                                        {% if cheque.situacao == 'C' %}
                                            <td>
                                                <span class="badge bg-success">Compensado</span>
                                            </td>
                                        {% elif cheque.situacao == 'R' %}
                                            <td>
                                                <span class="badge bg-danger">Repassado</span>
                                            </td>
                                        {% else %}
                                            <td>
                                                <span class="badge bg-warning">Emitido</span>
                                            </td>
                                        {% endif %}
                                        {%if cheque.banco == '001'%}
                                            <td>Banco do Brasil</td>
                                        {% elif cheque.banco == '104' %}
                                            <td>Caixa Econômica Federal</td>
                                        {% elif cheque.banco == '237' %}
                                            <td>Bradesco</td>
                                        {% elif cheque.banco == '341' %}
                                            <td>Itaú</td>
                                        {% elif cheque.banco == '356' %}
                                            <td>Santander</td>
                                        {% elif cheque.banco == '033' %}
                                            <td>Banco Santander (Brasil)</td>
                                        {% else %}
                                            <td>Banco Desconhecido</td>
                                        {% endif %}

                                        <td>
                                            <a href="{% url 'financeiro:editar_cheque' cheque.id %}" class="btn btn-primary btn-sm">Editar</a>
                                            <a href="{% url 'financeiro:excluir_cheque' cheque.id %}" class="btn btn-danger btn-sm">Excluir</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'pagination.html' %}
            {% else %}
            <br>
                <div class="alert alert-info" role="alert">
                    Nenhum cheque cadastrado.
                </div>
                
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
```
