{% extends 'base-home.html' %}
{% block 'title' %}Cadastrar Lote{% endblock %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/table_view.css' %}">
{% endblock %}


{% block 'body' %}
<div   class="fluid-container" id="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Cadastrar Lote</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" name="numero">
                </div>
                <div class="form-group
                ">
                    <label for="metragem">Metragem</label>
                    <input type="text" class="form-control" id="metragem" name="metragem" placeholder="exemplo: 130m²">
                </div>
                <div class="form-group">
                    <label for="preco">Valor</label>
                    <input type="number" class="form-control" id="preco" name="preco" placeholder="exemplo: 130.000,00 sem os pontos">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" name="status" class="form-control">
                        <option value="D">Disponível</option>
                        <option value="V">Vendido</option>
                        <option value="R">Reservado</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data_aquisicao">Data de Aquisição do Imovel</label>
                    <input type="date" class="form-control" name="data_aquisicao" id="data_aquisicao">
                </div>
               
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
