

<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Cadastrar Categoria
</button>
  
  <!-- Modal -->
  <div class="modal fade
  " id="exampleModal" tabindex="-1" aria-labelledby="modalCategoria" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modalCategoria">Cadastrar Categoria</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body
              ">
                <p><strong>Numero:</strong> 42</p>
                <p><strong>Metragem:</strong> 100m²</p>
                <p><strong>Preço:</strong> R$ 500,00</p>
                <p><strong>Data de Aquisição:</strong> 01/01/1900</p>
                <p><strong>Status:</strong> Ativo</p>
                <p><strong>Proprietário:</strong> João da Silva</p>
                <p><strong>Quadra:</strong> Quadra A</p>
              </div>
              <div class="modal-footer
              ">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <input type="submit" name="btn_form" class="btn btn-primary" value="Cadastrar"></input>   
              </div>
          </div>
      </div>
    </div>