{% load static %}
<!-- Button trigger modal -->
{% for produto in page_obj %}
  <!-- Modal -->
  <div class="modal fade
  " id="modalMovimentacao{{ produto.id  }}" data-produto-id="{{ produto.id }}" tabindex="-1" aria-labelledby="modalMovimentacao" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modalMovimentacao">Movimentação - {{produto.id}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body
              ">
                  <div class="form-group
                  ">
                      <form method="POST" action="{% url 'estoque:registrar_movimentacao' produto.id %}">
                          {% csrf_token %}
                          <label for="qtd">Quantidade:</label>
                          <input type="number" class="form-control" id="qtd" name="qtd"  >
                          <label for="tipo_movimentacao">Tipo de Movimentação:</label>
                          <select class="form-control" id="tipo_movimentacao" name="tipo_movimentacao">
                              <option value="Entrada">Entrada</option>
                              <option value="Saida">Saída</option>
                              <option value="Devolucao">Devolução</option>
                          </select>
                            <label for="observacao">Observação:</label>
                            <textarea class="form-control" id="motivo" name="motivo"></textarea>
                            {% include "estoque/movimentacao/select_lote.html" with produto_id=produto.id %}
                            <hr>
                          <button type="submit" class="btn btn-success  "> Salvar Movimentação</button>
                        </form>
                  </div>
              </div>
             
          </div>
      </div>
    </div>

{% endfor %}

<script src="{% static 'estoque/js/dependent_selects.js' %}"></script>


