
  <label for="empreendimento">Empreendimento</label>
  <select id="empreendimento"  name="empreendimento"  class="form-control empreendimento-select">
    <option value="">Selecione o empreendimento</option>
    {% for emp in empreendimentos %}
      <option value="{{ emp.id }}">{{ emp.nome }}</option>
    {% endfor %}
  </select>


  <label for="quadra">Quadra</label>
  <select id="quadra" name="quadra" class="form-control quadra-select">
    <option value="">Selecione a quadra</option>
  </select>



  <label for="lote">Lote</label>
  <select id="lote" name="lote" class="form-control lote-select">
    <option value="">Selecione o lote</option>
  </select>



