

#container-charts{
   padding: 1rem;
    margin-top: 20px;
    background-color: #ffffffde;
    border-radius: 5px;
    border-top: 5px solid #0f0f0f;

   
}


    
.box-title{
    color: #0f0f0f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}




.box-body{
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    font-size: 1rem;
    text-align: center;
    max-height: 400px;
    
}

@media (max-width: 1490px) {
    .box-title{
        font-size: 1.05rem;
    }
    .box-body{
        font-size: 0.95rem;
    }
}