#container{
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border-top: 5px solid rgb(11, 27, 99);
    width: 97%;

}

th,tr{
    font-size: 0.94rem;
    text-align: center;
}
.button-container {
    display: flex;
    align-items:baseline;
}
.alinhar-direita {
    margin-left: auto;
    margin-right: 25px;
}
@media (max-width: 1475px) {
     .button-container {flex-wrap: wrap; }
    .alinhar-direita {
        margin-left: 0;
        margin-right: 0;
    }
    
    }




.button-container input[type="date"]{
    margin-right: 10px; /* Espaçamento entre os elementos */
    text-align: right;
}
.button-container a {
    margin-top: 10px;
     /* Espaçamento entre os elementos */
}
