{% extends 'base-home.html' %}
{% block 'title' %}Home{% endblock %}
{% load static %}
{% block 'head' %}

    <style>
        
       
        
        #button:hover {
            background-color: #0f0f0f;
            color: white;
        }
        .btn-app{
            position: relative;
            margin: 0 0 0 10px;
            min-width: 110px;
            height: 60px;
            color: #666;
            border: 1px solid #ddd;
            background-color: #f4f4f4;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            white-space: normal;
            justify-content: center;
        }
        .box-body{
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            background-color: #ffffff;
            height: 150px;
            align-items: center;
            border-color: #0f0f0f;
            border-style: groove;
            border-width: 0.1rem;
            white-space: normal;

        }
        #icone{
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block 'body' %}
<h3>home page</h3>


<div class="box-body">
    <a class="btn btn-app" href="{% url 'usuarios:vendedores' %}"
     id="button">
        <i class="bi bi-person-fill" id="icone"></i>vendedores
    </a>  
    <a class="btn btn-app" href="" id="button">
        <i class="bi bi-currency-dollar" id="icone"></i>financeiro
    </a>  
    <a class="btn btn-app" href="" id="button">
        <i class="bi bi-person-fill" id="icone"></i>Profile
    </a>  
</div>

{% endblock %}

