{% extends 'base-home.html' %}
{% block 'title' %}Cadastrar clientes{% endblock %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}
{% block 'body' %}
<div class="container-fluid" id="container">
    {% if clientes %}
        <h2 class="page-title">Editar Cliente</h2>
    {% else %}
        <h2 class="page-title">Cadastrar Cliente</h2>
    {% endif %}
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if clientes  %}
        <form action="{% url 'cliente:editar_clientes' clientes.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ clientes.nome }}" required>
            </div>
            <div class="form-group">
                <label for="cpf_cnpj">Cnpj/Cpf</label>
                <input type="text" class="form-control" id="cpf_cnpj" name="cpf_cnpj"  value="{{ clientes.cpf_cnpj}}" equired>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"  value="{{ clientes.email}}" equired>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" value="{{clientes.telefone}}" required>
            </div>
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" value="{{clientes.endereco}}" required>
            </div>
            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade" value="{{clientes.cidade}}" required>
            </div>
            <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado" name="estado" value="{{clientes.estado}}" required>
            </div>
            <div class="form-group">
                <label for="cep">Cep</label>
                <input type="text" class="form-control" id="cep" name="cep" value="{{clientes.cep}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    {% else %}
        <form action="{% url 'cliente:cadastrar_clientes' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="cpf_cnpj">Cnpj/Cpf</label>
                <input type="text" class="form-control" id="cpf_cnpj" name="cpf_cnpj" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" required>
            </div>
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" required>
            </div>
            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade" required>
            </div>
            <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado" name="estado" required>
            </div>
            <div class="form-group">
                <label for="cep">Cep</label>
                <input type="text" class="form-control" id="cep" name="cep" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    {% endif %}        
{% endblock %}

</div>