{% extends 'base-home.html' %}
{% block 'title' %}Home{% endblock %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
<link href="{% static 'core/css/charts.css' %}" rel="stylesheet" />
{% endblock %}

{% block 'body' %}


<h2 class="page-title">Dashboard</h2>
<div class="container-fluid" id="container" >
    <h2>links de acesso</h2>
    <p>acesso rapido para cada categoria.</p>
    <div id="linha">
        <div class="group">
            <h2 class="box-title">Comercial</h2>
            <div id="linha">
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-box-seam" id="icone"></i>Produtos
                </a>  
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-cart fill" id="icone"></i>Vendas
                </a>
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-bag-fill" id="icone"></i>PDV
                </a>
            </div>
        </div>

        

        <div class="group">
            <h2 class="box-title">Financeiro</h2>

            <div id="linha">
                <a class="btn btn-app" href="{% url 'financeiro:despesas' %}" id="button">
                    <i class="bi bi-cash-stack" id="icone"></i>Despesas
                </a>
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-cassette" id="icone"></i>Cheques
                </a>
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-table" id="icone"></i>Relatorios
                </a>
                
            </div>
        </div>

        <div class="group">
            <h2 class="box-title">Usuários</h2>
            <div id="linha">
                
                <a class="btn btn-app" id="button">
                    <i class="bi bi-people-fill" id="icone"></i>Clientes
                </a>
                <a class="btn btn-app" href="{% url 'usuarios:vendedores' %}" id="button">
                    <i class="bi bi-person-fill" id="icone"></i>Vendedores
                </a>
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-truck-front-fill" id="icone"></i>Fornecedores
                </a>
                
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-8" >
        <div class="box box-primary" id="container-charts">
            <div class="box-header">
                <h3 class="box-title">Gráfico de vendas</h3>
            </div>
            <div class="box-body">
                <div>
                    <canvas id="myChart2" style="max-height: 400px;"></canvas>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    var ctx = document.getElementById('myChart2').getContext('2d');
                    var myChart2 = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: 'Teste',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.8)',
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 206, 86, 0.8)',
                                    'rgba(75, 192, 192, 0.8)',
                                    'rgba(153, 102, 255, 0.8)',
                                    'rgba(255, 159, 64, 0.8)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-primary"  id="container-charts">
            <div class="box-header">
                <h3 class="box-title">Principais despesas (April 2024)</h3>
            </div>
            <div class="box-body" style="display: flex; justify-content: center;">
                <canvas id="myChart" ></canvas>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                
                                data: [],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.8)',
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 206, 86, 0.8)',
                                    'rgba(75, 192, 192, 0.8)',
                                    'rgba(153, 102, 255, 0.8)',
                                    'rgba(255, 159, 64, 0.8)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            },
                            plugins: {
                                legend: {
                                    display: true
                                }
                            }
                            
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block 'scripts' %}
<script>
    $.ajax({
        url: "{% url 'financeiro:total_despesas' %}",
        method: 'GET',
        success: function(response) {
            // transformar objeto em map 
            var despesas = Object.entries(response['total_despesas']);
            // console.log(despesas);
            valores = [];
            labels = [];
            despesas.forEach(element => {
                valores.push(element[1]);
                labels.push(element[0]);
            });
            myChart.data.datasets[0].data = valores;
            myChart.data.labels = labels;
            
            myChart.update();
            // myChart.data.datasets[0].data = response['total_despesas'][];
        },
        error: function(error) {
            // Handle the error here
        }
    });
</script>

{% endblock %}




<!-- <a class="btn btn-app" href="{% url 'financeiro:financeiro' %}" id="button">
    <i class="bi bi-currency-dollar" id="icone"></i>Financeiro
</a>  
<a class="btn btn-app" href="" id="button">
    <i class="bi bi-table" id="icone"></i>Relatorios
</a>   -->