{% extends 'base-home.html' %}
{% block 'title' %}Home{% endblock %}
{% load permission_tags %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
<link href="{% static 'core/css/charts.css' %}" rel="stylesheet" />
{% endblock %}

{% block 'body' %}


<h2 class="page-title">Dashboard</h2>
{% if user|has_role:'administrador' %}
<div class="container-fluid" id="container" >
    <h2>links de acesso</h2>
    <p>acesso rapido para cada categoria.</p>
    <br>
    <div class="group" style="margin-bottom: 2rem;">
            <div id="linha" style="justify-content: space-around;">
                <a class="btn btn-app" href="{% url 'financeiro:despesas' %}" id="button">
                    <i class="bi bi-cash-stack" id="icone"></i>Contas a Pagar
                </a>
                <a class="btn btn-app" href="{% url 'financeiro:contas_a_receber' %}" id="button">
                    <i class="
                    bi bi-currency-dollar" id="icone"></i>Contas a receber
                    
                </a>
                <a class="btn btn-app" href="{% url 'financeiro:entradas' %}" id="button">
                    <i class="
                    bi bi-currency-dollar" id="icone"></i>Entradas
                    
                </a>
                <a class="btn btn-app" href="{% url 'financeiro:cheques' %}" id="button">
                    <i class="bi bi-cassette" id="icone"></i>Cheques
                </a>
                <a class="btn btn-app" href="{% url 'estoque:home_estoque' %}" id="button">
                    <i class="
                    bi bi-box-seam-fill" id="icone"></i>Estoque
                </a>
                <a class="btn btn-app" href="{% url 'estoque:historico_todas_movimentacoes' %}" id="button">
                    <i class="
                    bi bi-box-seam-fill" id="icone"></i>Movimentações
                </a>
                
                <a class="btn btn-app" href="{% url 'financeiro:caixa' %}" id="button">
                    <i class="
                    bi bi-bar-chart-fill" id="icone"></i>Caixa - analise
                </a>
                <a class="btn btn-app" href="{% url 'produto:home_produto' %}" id="button">
                    <i class="bi bi-box-seam" id="icone"></i>Produtos
                </a>  
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-cart fill" id="icone"></i>Vendas
                </a>
                <!-- <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-bag-fill" id="icone"></i>PDV
                </a> -->
                <a class="btn btn-app" href="{% url 'cliente:listar_clientes' %}" id="button">
                    <i class="bi bi-people-fill" id="icone"></i>Clientes
                </a>
                <a class="btn btn-app" href="{% url 'usuarios:Usuarios' %}" id="button">
                    <i class="bi bi-person-fill" id="icone"></i>Usuarios
                </a>
                <!-- <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-truck-front-fill" id="icone"></i>Fornecedores
                </a> -->
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-8" >
        <div class="box box-primary" id="container-charts">
            <div class="box-header">
                <h3 class="box-title">Gráfico de Vendas Mensal (Em construção)</h3>
            </div>
            <div class="box-body">
                <div style="display: grid;">
                    <canvas id="myChart2" style="max-height: 400px; height: 100%;min-width: max-content; "></canvas>
                    <p style="color: transparent;">.</p>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="box box-primary"  id="container-charts">
            <div class="box-header">
                <h3 id="titulo_chart2" class="box-title">Principais despesas</h3>
            </div>
            <div class="box-body" style="text-align: center;">
                <div style="display:grid">
                    <canvas id="myChart" style="max-height: 375px; height: 100%;" ></canvas>
                    <p style="color: white;">margem</p>
                </div>
            </div>
            
        </div>
    </div>

{% elif user|has_role:'Gerente'  %}
<div class="container-fluid" id="container" >
    <h2>links de acesso</h2>
    <p>acesso rapido para cada categoria.</p>
    <div id="linha">
        <div class="group" style="margin-bottom: 2rem;">
            <div id="linha" style="justify-content: space-around;">
                <a class="btn btn-app" href="{% url 'financeiro:despesas' %}" id="button">
                    <i class="bi bi-cash-stack" id="icone"></i>Contas a Pagar
                </a>
                <a class="btn btn-app" href="{% url 'financeiro:contas_a_receber' %}" id="button">
                    <i class="
                    bi bi-currency-dollar" id="icone"></i>Contas a receber
                    
                </a>
                <a class="btn btn-app" href="{% url 'financeiro:entradas' %}" id="button">
                    <i class="
                    bi bi-currency-dollar" id="icone"></i>Entradas
                    
                </a>
                <a class="btn btn-app" href="{% url 'financeiro:cheques' %}" id="button">
                    <i class="bi bi-cassette" id="icone"></i>Cheques
                </a>

                <a class="btn btn-app" href="{% url 'estoque:home_estoque' %}" id="button">
                    <i class="
                    bi bi-box-seam-fill" id="icone"></i>Estoque
                </a>
                <a class="btn btn-app" href="{% url 'estoque:historico_todas_movimentacoes' %}" id="button">
                    <i class="
                    bi bi-box-seam-fill" id="icone"></i>Movimentações
                </a>
                
                <a class="btn btn-app" href="{% url 'financeiro:caixa' %}" id="button">
                    <i class="
                    bi bi-bar-chart-fill" id="icone"></i>Caixa - analise
                </a>
                <a class="btn btn-app" href="{% url 'cliente:listar_clientes' %}" id="button">
                    <i class="bi bi-people-fill" id="icone"></i>Clientes
                </a>
                <a class="btn btn-app" href="{% url 'usuarios:Usuarios' %}" id="button">
                    <i class="bi bi-person-fill" id="icone"></i>Usuarios
                </a>
                <!-- <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-truck-front-fill" id="icone"></i>Fornecedores
                </a> -->
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-8" >
        <div class="box box-primary" id="container-charts">
            <div class="box-header">
                <h3 class="box-title">Despesa Anual</h3>
            </div>
            <div class="box-body">
                <div style="display: grid;">
                    <canvas id="DespesaGerente" style="max-height: 400px; height: 100%;min-width: max-content; "></canvas>
                    <p style="color: transparent;">.</p>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="box box-primary"  id="container-charts">
            <div class="box-header">
                <h3 id="titulo_chartGerente" class="box-title">Principais despesas (categorias)</h3>
            </div>
            <div class="box-body" style="text-align: center;">
                <div style="display:grid">
                    <canvas id="CategoriaGerente" style="max-height: 375px; height: 100%;" ></canvas>
                    <p style="color: white;">margem</p>
                </div>
            </div>
            
        </div>
    </div>

{% elif user|has_role:'estoquista' %}
<div class="container-fluid" id="container" >
    <h2>links de acesso</h2>
    <p>acesso rapido para cada categoria.</p>
    <div id="linha">
        <div class="group" style="margin-bottom: 2rem;">
            <div id="linha" style="justify-content: space-around;">
                <a class="btn btn-app" href="{% url 'estoque:home_estoque' %}" id="button">
                    <i class="
                    bi bi-box-seam-fill" id="icone"></i>Estoque
                </a>
                <a class="btn btn-app" href="{% url 'produto:home_produto' %}" id="button">
                    <i class="bi bi-box-seam" id="icone"></i>Produtos
                </a>  
            </div>
        </div>
        
    </div>


{% endif %}



{% endblock %}

{% block 'scripts' %}
<script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: 'Teste',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(153, 102, 255, 0.8)',
                    'rgba(255, 159, 64, 0.8)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true

                }
            },
            plugins: {
                legend: {
                    display: true
                }
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                
                data: [],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(153, 102, 255, 0.8)',
                    'rgba(255, 159, 64, 0.8)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true

                }
            },
            plugins: {
                legend: {
                    display: true
                }
            }
            
        }
    });
</script>

<!-- GERENTE -->
<script>
    var ctx = document.getElementById('DespesaGerente').getContext('2d');
    var DespesaGerente = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'Despesas',
                data: [],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.8)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true

                }
            },
            plugins: {
                legend: {
                    display: true
                }
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById('CategoriaGerente').getContext('2d');
    var CategoriaGerente = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                
                data: [],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(153, 102, 255, 0.8)',
                    'rgba(255, 159, 64, 0.8)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true

                }
            },
            plugins: {
                legend: {
                    display: true
                }
            }
            
        }
    });
</script>
<script>
    $.ajax({
        url: "{% url 'financeiro:total_despesas_mes_atual' %}",
        method: 'GET',
        success: function(response) {
            // transformar objeto em map 
            var despesas = Object.entries(response['total_despesas']);
            var mes_atual = response['mes_atual'];
            valores = [];
            labels = [];
            despesas.forEach(element => {
                valores.push(element[1]);
                labels.push(element[0]);
            });
            myChart.data.datasets[0].data = valores;
            myChart.data.labels = labels;
            
            myChart.update();
            if (mes_atual == 1) {
                mes_atual = 'Janeiro';
            } else if (mes_atual == 2) {
                mes_atual = 'Fevereiro';
            } else if (mes_atual == 3) {
                mes_atual = 'Março';
            } else if (mes_atual == 4) {
                mes_atual = 'Abril';
            } else if (mes_atual == 5) {
                mes_atual = 'Maio';
            } else if (mes_atual == 6) {
                mes_atual = 'Junho';
            } else if (mes_atual == 7) {
                mes_atual = 'Julho';
            } else if (mes_atual == 8) {
                mes_atual = 'Agosto';
            } else if (mes_atual == 9) {
                mes_atual = 'Setembro';
            } else if (mes_atual == 10) {
                mes_atual = 'Outubro';
            } else if (mes_atual == 11) {
                mes_atual = 'Novembro';
            } else if (mes_atual == 12) {
                mes_atual = 'Dezembro';
            }
            document.getElementById('titulo_chart2').innerHTML = 'Principais despesas em ' + mes_atual;
            // myChart.data.datasets[0].data = response['total_despesas'][];
        },
        error: function(error) {
            // Handle the error here
        }
    });

    $.ajax({
        url: "{% url 'financeiro:total_despesas_ano_atual' %}",
        method: 'GET',
        success: function(response) {
            // transformar objeto em map 
            var despesas = Object.entries(response['total_despesas']);
            var ano_atual = response['ano_atual'];

            valores = [];
            labels = response['meses'];
            labels2 = [];
            valores2 = []
            despesas.forEach(element => {
                valores.push(element[1]);
            });
            mes_labels = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];
            
            // console.log(DespesaGerente);
            // mostrar os meses que tem dados
            for(let i = 0; i < valores.length; i++) {
                if (valores[i] != 0) {
                    labels2.push(mes_labels[i]);
                    valores2.push(valores[i]);
                }

            }
            // console.log(valores);
            DespesaGerente.data.datasets[0].data = valores2;
            DespesaGerente.data.labels = labels2;
            // console.log(labels2);
            DespesaGerente.update();
        },
        error: function(error) {
            // Handle the error here
        }
    });

    $.ajax({
        url: "{% url 'financeiro:total_despesa_categoria' %}",
        method: 'GET',
        success: function(response) {
            // transformar objeto em map 
            var despesas = Object.entries(response['total_d_categoria']);
            valores = [];
            labels = [];
            despesas.forEach(element => {
                valores.push(element[1]);
                labels.push(element[0]);
            });
            CategoriaGerente.data.datasets[0].data = valores;
            CategoriaGerente.data.labels = labels;
            CategoriaGerente.update();
        },
        error: function(error) {
            // Handle the error here
        }
    });
</script>

{% endblock %}




<!-- <a class="btn btn-app" href="{% url 'financeiro:financeiro' %}" id="button">
    <i class="bi bi-currency-dollar" id="icone"></i>Financeiro
</a>  
<a class="btn btn-app" href="" id="button">
    <i class="bi bi-table" id="icone"></i>Relatorios
</a>   -->