{% extends 'base-home.html' %}
{% block 'title' %}Home{% endblock %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block 'body' %}


<h2 class="page-title">Dashboard</h2>
<div class="container-fluid" id="container" >
    <h2>links de acesso</h2>
    <p>acesso rapido para cada categoria.</p>
    <div id="linha">
        <div class="group">
            <h2 class="box-title">Comercial</h2>
            <div id="linha">
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-box-seam" id="icone"></i>Produtos
                </a>  
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-cart fill" id="icone"></i>Vendas
                </a>
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-bag-fill" id="icone"></i>Compras
                </a>
            </div>
        </div>

        <div class="group">
            <h2 class="box-title">Financeiro</h2>

            <div id="linha">
                <a class="btn btn-app" href="{% url 'financeiro:despesas' %}" id="button">
                    <i class="bi bi-cash-stack" id="icone"></i>Despesas
                </a>
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-cassette" id="icone"></i>Cheques
                </a>
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-table" id="icone"></i>Relatorios
                </a>
                
            </div>
        </div>

        <div class="group">
            <h2 class="box-title">Usuários</h2>
            <div id="linha">
                
                <a class="btn btn-app" id="button">
                    <i class="bi bi-people-fill" id="icone"></i>Clientes
                </a>
                <a class="btn btn-app" href="{% url 'usuarios:vendedores' %}" id="button">
                    <i class="bi bi-person-fill" id="icone"></i>Vendedores
                </a>
                <a class="btn btn-app" href="" id="button">
                    <i class="bi bi-truck-front-fill" id="icone"></i>Fornecedores
                </a>
                
            </div>
        </div>

        
        
    </div>
</div>

{% include 'charts.html' %}

{% endblock %}




<!-- <a class="btn btn-app" href="{% url 'financeiro:financeiro' %}" id="button">
    <i class="bi bi-currency-dollar" id="icone"></i>Financeiro
</a>  
<a class="btn btn-app" href="" id="button">
    <i class="bi bi-table" id="icone"></i>Relatorios
</a>   -->