{% load static %}
{% block head %}
    <link href="{% static 'core/css/sidebar.css' %}" rel="stylesheet" />
{% endblock %}

    <aside id="sidebar" class="expand">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a href="{% url 'home' %}">Randtech</a>
            </div>
        </div>
        <ul class="list-unstyled">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Produtos" aria-expanded="false" aria-controls="Produtos">
                    <i class="bi bi-box-seam"></i>
                    <span>Produtos</span>
                </a>
                <ul id="Produtos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Listar Produtos</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Cadastrar Produtos</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Estoque" aria-expanded="false" aria-controls="Estoque">
                    <i class="bi bi-archive-fill"></i>
                    <span>Estoque</span>
                </a>
                <ul id="Estoque" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Listar Estoque</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Cadastrar Estoque</a>
                    </li>
                </ul>

            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Vendas" aria-expanded="false" aria-controls="Vendas">
                    <i class="bi bi-cart fill"></i>
                    <span>Vendas</span>
                </a>
                <ul id="Vendas" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Listar Vendas</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Cadastrar Vendas</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Despesas" aria-expanded="false" aria-controls="Despesas">
                    <i class="bi bi-cash-stack" id="icone"></i>
                    <span>Despesas</span>
                </a>
                <ul id="Despesas" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'financeiro:despesas' %}" class="sidebar-link">Listar Despesas</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'financeiro:cadastrar_despesas' %}" class="sidebar-link">Cadastrar Despesas</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#Vendedores" aria-expanded="false" aria-controls="Vendedores">
                    <i class="bi bi-person-fill"></i>
                    <span>Vendedores</span>
                </a>
                <ul id="Vendedores" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'usuarios:vendedores' %}" class="sidebar-link">Listar Vendedores</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Cadastrar Vendedores</a>
                    </li>
                </ul>
            </li>

        </ul>
        <div class="sidebar-footer">
            <a href="{% url 'usuarios:logout' %}" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>
    