{% load static %}
{% block head %}
    <link href="{% static 'core/css/sidebar.css' %}" rel="stylesheet" />
{% endblock %}

    <aside id="sidebar" class="overlay ">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a href="{% url 'home' %}">Randtech</a>
            </div>
        </div>
        <ul class="list-unstyled">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Produtos" aria-expanded="false" aria-controls="Produtos">
                    <i class="bi bi-box-seam"></i>
                    <span>Produtos (em dev)</span>
                </a>
                <ul id="Produtos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'produto:home_produto' %}" class="sidebar-link">Empreendimentos</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'produto:cadastrar_empreendimento' %}" class="sidebar-link">Cadastrar Empreendimento</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Vendas" aria-expanded="false" aria-controls="Vendas">
                    <i class="bi bi-cart fill"></i>
                    <span>Vendas (em breve)</span>
                </a>
                <ul id="Vendas" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Listar Vendas</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Cadastrar Vendas</a>
                    </li>
                </ul>
            </li>
            <!-- pdv -->

            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="bi bi-bag-fill"></i>
                    <span>PDV (em breve)</span>
                </a>
            </li>

            <!-- adicionar caixa -->
            <li class="sidebar-item">
                <a href="{% url 'financeiro:caixa' %}" class="sidebar-link">
                    <i class="bi bi-box-fill"></i>
                    <span>Caixa</span>
                </a>
            </li>
            
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Despesas" aria-expanded="false" aria-controls="Despesas">
                    <i class="bi bi-cash-stack" id="icone"></i>
                    <span>Contas a Pagar</span>
                </a>
                <ul id="Despesas" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'financeiro:despesas' %}" class="sidebar-link">Listar Contas a Pagar</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'financeiro:cadastrar_despesas' %}" class="sidebar-link">Cadastrar Contas a Pagar</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Cheques" aria-expanded="false" aria-controls="Cheques">
                    <i class="bi bi-cassette" id="icone"></i>
                    <span>Cheques</span>
                </a>
                <ul id="Cheques" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'financeiro:cheques' %}" class="sidebar-link">Listar Cheques</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'financeiro:cadastrar_cheque' %}" class="sidebar-link">Cadastrar Cheques</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Conta_a_receber" aria-expanded="false" aria-controls="Conta_a_receber">
                    <i class="bi bi-currency-dollar" id="icone"></i>
                    <span>Contas a Receber</span>
                </a>
                <ul id="Conta_a_receber" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'financeiro:contas_a_receber' %}" class="sidebar-link">Listar Contas a Receber</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'financeiro:cadastrar_entrada' %}" class="sidebar-link">Cadastrar Contas a Receber</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Entradas" aria-expanded="false" aria-controls="Entradas">
                    <i class="bi bi-currency-dollar" id="icone"></i>
                    <span>Entradas</span>
                </a>
                <ul id="Entradas" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'financeiro:entradas' %}" class="sidebar-link">Listar Entradas</a>
                    </li>
                </ul>
            </li>
            
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Clientes" aria-expanded="false" aria-controls="Clientes">
                    <i class="bi bi-people-fill"></i>
                    <span>Clientes</span>
                </a>
                <ul id="Clientes" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'cliente:listar_clientes' %}" class="sidebar-link">Listar Clientes</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'cliente:cadastrar_clientes' %}" class="sidebar-link">Cadastrar Clientes</a>
                    </li>
                </ul>
            </li>


            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#Usuarios" aria-expanded="false" aria-controls="Usuarios">
                    <i class="bi bi-person-fill"></i>
                    <span>Usuarios</span>
                </a>
                <ul id="Usuarios" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'usuarios:Usuarios' %}" class="sidebar-link">Listar Usuarios</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'usuarios:cadastrar_usuario' %}" class="sidebar-link">Cadastrar Usuarios</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#Fornecedores" aria-expanded="false" aria-controls="Fornecedores">
                    <i class="bi bi-truck-front-fill"></i>
                    <span>Fornecedores (em breve)</span>
                </a>
                <ul id="Fornecedores" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Listar Fornecedores</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Cadastrar Fornecedores</a>
                    </li>
                </ul>
            </li>

        </ul>
        <div class="sidebar-footer">
            <a href="{% url 'usuarios:logout' %}" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>
    