{% extends 'base-home.html' %}
{% block 'title' %}Quadras{% endblock %}
{% load static %}
{% block 'head' %}
{% endblock %}
{% block 'body' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Quadras</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'produto:cadastrar_quadra' %}" class="btn btn-primary">Cadastrar Quadra</a>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Metragem</th>
                        <th>Quantidade de Lotes</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quadra in quadras %}
                    <tr>
                        <td>{{ quadra.nome }}</td>
                        <td>{{ quadra.metragem }}</td>
                        <td>{{ quadra.qtd_lotes }}</td>
                        <td>
                            <a href="{% url 'produto:editar_quadra' quadra.id %}" class="btn btn-warning">Editar</a>
                            <a href="{% url 'produto:excluir_quadra' quadra.id %}" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
