{% extends 'base-home.html' %}
{% block 'title' %}Cadastrar Vendedor{% endblock %}
{% load static %}
{% load permission_tags %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}
<!-- Path: imperio/usuarios/templates/cadastrar_usuario.html -->
{% block 'body' %}
    

        
    <div class="container-fluid" id="container">
        {% if messages %}
            {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                     {{ message }}
                     <a href="#" class="del-msg">&times;</a>
                  </div>
            {% endfor %}
         {% endif %}
        
        {% if usuario %}
        <h2 class="page-title">Editar de Usuário</h2>
        <br>
            <form action="{% url 'usuarios:editar_usuario' usuario.id %}" method="post"> {% csrf_token %}
                <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" class="form-control"  placeholder="Digite seu nome" value="{{usuario.first_name}}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="form-control"  placeholder="Digite seu email" value="{{usuario.email}}" required>
                </div>
                <div class="form-group">
                    <label for="text">Telefone:</label>
                    <input type="phone" name="telefone" id="telefone" class="form-control"  placeholder="Digite seu telefone" value="{{usuario.telefone}}" >
                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" class="form-control"  placeholder="Digite sua senha" required>
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo:</label>
                    <select name="cargo" id="cargo" class="form-control" required>
                        <option value="">Selecione um cargo</option>
                        <option value="V">Vendedor</option>
                        <option value="G">Gerente</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Salvar</button>

            </form>
        {% else %}
            <h2 class="page-title">Cadastro de Usuário</h2>
            <br>
            <form action="{% url 'usuarios:cadastrar_usuario' %}" method="post"> {% csrf_token %}
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control"  placeholder="Digite seu nome" required> 
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="form-control"  placeholder="Digite seu email" required>
                </div>
                <div class="form-group">
                    <label for="text">Telefone:</label>
                    <input type="phone" name="telefone" id="telefone" class="form-control"  placeholder="Digite seu telefone" >
                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" class="form-control"  placeholder="Digite sua senha" required>
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo:</label>
                    <select name="cargo" id="cargo" class="form-control" required>
                        <option value="">Selecione um cargo</option>
                        <option value="V">Vendedor</option>
                        <option value="G">Gerente</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block 'scripts' %}
    <script>
        document.querySelectorAll('.del-msg').forEach(item => {
            item.addEventListener('click', event => {
                item.parentElement.style.display = 'none';
            })
        })
    </script>
{% endblock %}
        
