{% extends 'base-home.html' %}

{% block 'title' %}Detalhes do Empreendimento{% endblock %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static  'produto/css/det_empreendimento.css' %}">

{% endblock %}

{% block 'body' %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Detalhes do Empreendimento</h5>
            
            <div class="row">
              <div class="col-md-4">
                <img src="{% static 'pictures/fachada.jpg' %}" alt="{{ empreendimento.nome }}" class="condominium-photo">
              </div>
              <div class="col-md-8">
                <h6>Nome do Empreendimento:</h6>
                <p>{{ empreendimento.nome }}</p>
                <h6>Descrição:</h6>
                <p>{{ empreendimento.descricao }}</p>
              </div>
            </div>
            <hr>
            <h6>Quadras Associadas a este Empreendimento:</h6>
            <div class="lot-table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Quadra ID</th>
                    <th>Nome de Quadra</th>
                    <th>Tamanho da Quadra</th>
                    <th>QTD de Lotes Disponiveis</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  {% for quadra in quadras %}
                  <tr>
                    <td>{{ quadra.id }}</td>
                    <td>{{ quadra.nome }}</td>
                    <td>{{ quadra.metragem }}</td>
                    <td>{{ quadra.get_total_lotes_disponiveis }}</td>
                    <td>
                      <a href="{% url 'produto:quadras' quadra.id %}" class="btn btn-secondary btn-sm">Detalhes Quadra</a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="5">Nenhuma quadra cadastrada.</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <a href="{% url 'produto:cadastrar_quadra' empreendimento.id %}" class="btn btn-primary btn-block">Cadastrar Quadra</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for duplicating lot -->
  <div class="modal fade" id="duplicateLotModal" tabindex="-1" role="dialog" aria-labelledby="duplicateLotModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="duplicateLotModalLabel">Duplicar Quadra</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="newLotId">Novo ID da Quadra:</label>
              <input type="text" class="form-control" id="newLotId" required>
            </div>
            <div class="form-group">
              <label for="newLotName">Novo Nome da Quadra:</label>
              <input type="text" class="form-control" id="newLotName" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- Add modal footer content here -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}