{% extends 'base-home.html' %}
{% block 'title' %}Empreendimentos{% endblock %}
{% load permission_tags %}
{% load static %}
{% block 'head' %}
{% endblock %}

{% block 'body' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Empreendimentos</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {% for empreendimento in empreendimentos %}
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ empreendimento.imagem.url }}" alt="{{ empreendimento.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ empreendimento.nome }}</h5>
                    <p class="card-text">{{ empreendimento.descricao }}</p>
                    <a href="{% url 'produto:detalhes_empreendimento' empreendimento.id %}" class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
